<script type="text/ng-template" id="head_bar.html">
    <img src="{[{ UserMapService.user.profile_image_url }]}" style="height: 32px;" />

    {% if not is_mobile() %}
        &nbsp;&nbsp;

        {% if (app.request.get('username')) %}
            <span>{[{ UserMapService.user.friends_count }]} Friends</span> ({[{ UserMapService.counters.localized_friends }]} localized)
            &nbsp;&nbsp;
            <br class="visible-xs">
            <span>{[{ UserMapService.user.followers_count }]} Followers</span> ({[{ UserMapService.counters.localized_followers }]} localized)
        {% else %}
            <= enter a Twitter username to find where his followers and followings are
        {% endif %}
    {% endif %}
</script>