{% extends 'AppBundle::layout.html.twig' %}

{% block header '' %}

{% block body %}

    <div id="map-wrapper" style="position: absolute; top:0; right:0; bottom:0; left: 0; opacity: 0.3">
        {{ google_map(map) }}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <div class="well" style="margin-top: 20%">
                    <a href="{{ path('homepage') }}">
                        <h1>
                            FriendsMappin
                        </h1>
                    </a>

                    <h4>
                        Show on a map where your Twitter followers are.
                    </h4>

                    <br><br>

                    <form class="form-horizontal" role="search" action="{{ path('user_form_submit') }}" method="POST">

                        <div class="input-group">
                            <input id="username" type="text" class="form-control" name="username" placeholder="Enter a Twitter username" />
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-search"
                                    </button>
                                </span>
                        </div>

                    </form>
                    <br>
                </div>

            </div>
        </div>
    </div>

{% endblock %}